* {
  box-sizing: border-box; }

body {
  font-family: 'Mulish', sans-serif;
  background-color: #F5FAFE;
  color: #333333; }

.container {
  max-width: 1110px;
  margin: auto; }

img {
  max-width: 100%; }

.header {
  background-color: #FFFFFF; }
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px; }
    .header-top__menu-button {
      display: none; }
  .header__search {
    margin-right: auto;
    margin-left: 108px; }
  .header-nav {
    background-color: #0A223D; }
  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
    padding: 31px 0;
    list-style-type: none; }
    .header-menu__link {
      color: inherit;
      text-decoration: none; }

.logo {
  width: 177px; }

.search {
  display: flex;
  position: relative;
  height: 40px;
  border-radius: 6px;
  overflow: hidden; }
  .search__input {
    height: 100%;
    width: 350px;
    background: #F5FAFE;
    border: none;
    padding-left: 23px;
    padding-right: 75px;
    font-size: 12px;
    line-height: 15px;
    color: #333333; }
    .search__input:focus {
      outline: none; }
  .search__button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #EC1F46;
    padding: 12px 24px;
    cursor: pointer;
    border: none; }

.user {
  display: flex;
  align-items: center;
  text-decoration: none; }
  .user__avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%; }
  .user__name {
    margin-left: 18px;
    font-size: 14px;
    line-height: 18px;
    color: #333333; }

.breadcrumb-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 18px 0; }
  .breadcrumb-list__item {
    font-size: 10px;
    line-height: 13px;
    color: #0A223D; }
    .breadcrumb-list__item:not(:last-child)::after {
      content: "/";
      margin-right: 4px; }
  .breadcrumb-list__link {
    text-decoration: none;
    color: inherit; }

.hotel {
  padding-top: 23px;
  padding-bottom: 70px; }
  .hotel-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px; }
    .hotel-info__name {
      margin: 4px 0 0;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px; }
    .hotel-info__offer {
      margin-left: 14px;
      margin-top: 4px; }
    .hotel-info__description {
      margin: 5px 0 0; }
  .hotel-description {
    font-size: 12px;
    line-height: 15px; }
  .hotel-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .hotel-grid {
    display: flex;
    justify-content: space-between; }
  .hotel-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.stars {
  flex-basis: 100%; }

.offer {
  background-color: #EC1F46;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  border-radius: 4px; }

.rating {
  max-width: 65px;
  min-height: 41px;
  background-color: #EC1F46;
  border-radius: 4px;
  text-align: center; }
  .rating__text {
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF; }
  .rating__counter {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF; }

.swiper-container {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative; }
  .swiper-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
    z-index: 50; }

.slider {
  width: 728px;
  height: 450px;
  position: relative; }
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    z-index: 100;
    background-color: transparent;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center; }
    .slider-button--prev {
      background-image: url("../img/button-prev.svg");
      left: 16px; }
    .slider-button--next {
      background-image: url("../img/button-next.svg");
      right: 16px; }

.booking {
  background-color: #0A223D;
  color: #FFFFFF;
  border-radius: 8px;
  width: 350px;
  min-height: 210px;
  padding: 26px; }
  .booking__info {
    display: flex;
    justify-content: space-between; }
  .booking__price {
    display: flex;
    flex-direction: column;
    margin-bottom: 9px; }
  .booking__price-start {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px; }
  .booking__price-tag {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px; }
  .booking__per-room {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px; }
  .booking__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px; }
  .booking__descriprion {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-left: 9px; }
  .booking__callcenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px; }
  .booking__call-text {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px; }
  .booking__phone {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; }
  .booking__phone-text {
    margin-left: 8px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px; }
  .booking__button {
    width: 100%;
    min-height: 45px;
    background: #EC1F46;
    border-radius: 4px;
    border: none;
    color: inherit;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer; }

.map {
  width: 347px;
  height: 213px;
  overflow: hidden;
  border-radius: 10px; }

@media (max-width: 1200px) {
  .container {
    max-width: 960px; }
  .slider {
    width: 590px; }
  .swiper-slide__image {
    width: 100%;
    height: 100%;
    object-fit: cover; } }

@media (max-width: 992px) {
  .container {
    max-width: 740px; }
  .logo {
    width: 132px; }
  .header__search {
    margin-left: auto; }
  .header-top {
    padding-top: 30px;
    padding-bottom: 30px; }
  .header-menu {
    padding-top: 22px;
    padding-bottom: 22px; }
    .header-menu__link {
      font-size: 12px;
      line-height: 15px; }
  .search__input {
    width: 340px; }
  .slider {
    width: 100%; }
  .hotel-grid {
    flex-direction: column; }
  .hotel-right {
    flex-direction: row; }
  .hotel__slider {
    margin-bottom: 30px; }
  .booking {
    flex-basis: 49%; }
  .map {
    flex-basis: 49%; } }

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%; }
  .header-menu, .header__search, .header__user {
    display: none; }
  .menu-button {
    width: 16px;
    height: 11px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #fff;
    cursor: pointer; }
    .menu-button__line {
      width: 16px;
      height: 1px;
      background-color: #333333; }
  .hotel-info__text {
    width: 100%; }
  .hotel-info__name {
    flex-basis: 100%;
    margin-top: 10px; }
  .hotel-info__offer {
    margin-left: 0;
    order: -1; }
  .hotel-wrapper {
    justify-content: space-between; }
  .stars {
    flex-basis: auto; }
  .rating {
    display: none; }
  .hotel-right {
    flex-direction: column;
    justify-content: space-between;
    min-height: 403px; }
  .hotel__slider {
    margin-bottom: 20px; }
  .booking {
    width: 100%; }
  .map {
    width: 100%;
    min-height: 173px; } }

@media (max-width: 576px) {
  .logo {
    width: 99px; }
  .slider {
    height: 290px; } }

@media (max-width: 320px) {
  .slider {
    height: 179px; } }
